<div class="footer">
    <footer>
        Created by <a href="https://github.com/sudhirbelagali/EmployeeLeaveManagementNodeJS.git">SSB</a> - Copyright
        &copy; {{getCurrentYear}}
    </footer>
</div>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        color: rgb(201, 27, 128);
        text-align: center;
        background-color: burlywood;


    }
</style>