<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> header}}
    {{!-- <p>{{screamIt welcomeMessage}}</p> --}}
    <div>
        <h3>Employee portal</h3>
        <p>The employee must be able to see the basic information of th user as well as he can get 
            the information of leaves. The leaves can be categorized as paid leaves, complimentary
            leaves, comp-off. Track the leaves and get the details of the leaves he has applied.
            <br>1. An employee must be able to apply the leave.
            <br>2.Employee would be able to view his details wrt him that the organization collected.
            <br>3. Track the leaves he has applied and leaves he has left with him.
            <br>4. Get the leaves he has applied till today.
        </p>
    </div>

    {{> footer}}
</body>

</html>